/* See https://travishorn.com/creating-a-responsive-header-image-8ce1d2ed8a4c for guidance */

#site-banner {
  overflow: hidden;
  display: block;
}

#site-banner-image {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 100%
}

a {
    color: #77714f;
    text-decoration: none;
    background-color: transparent;
}

.text-primary {
    color: #77714f!important;
}
