{{ define "main" }}
{{ `<!-- enter: layouts/about.html -->` | safeHTML }}

<div class="container mt-3 mb-3">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">
        About Us
      </h1>

      <div class="welcome">
        <p>We are...</p>
        <ul class="one-column">
          <li>Doug Rassler - Lead Vocals</li>
          <li>Danny Roberts - Lead Guitar & Vocals</li>
          <li>Mark Lauterwasser - Keyboards & Vocals</li>
          <li>Ron Johnson - Drums</li>
        </ul>
      </div>
    </div>
  </div>
</div>

{{ template "_internal/pagination.html" . }}

{{ `<!-- exit: layouts/about.html -->` | safeHTML }}
{{ end }}
