{{ define "main" }}

<div class="container mt-3 mb-3">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">
        Contact Us
      </h1>

      <p>Use this form to e-mail our manager, <b>Doug Rassler</b>, with comments, questions or requests to book <b>The Compass Rose Band</b> for your venue or upcoming party.</p>

      <!-- See https://formspree.io and https://webdesign.tutsplus.com/tutorials/quick-tip-add-a-formspree-form-to-your-static-sites--cms-23870 for form details and guidance. -->

      <form id="contactform" method="POST">
        <div class="form-field">
          <div class="form-field-header">Name</div>
          <input type="text" name="name" placeholder="Your name">
          <div class="form-field-footer">Please provide your name.</div>
        </div>
        <div class="form-field">
          <div class="form-field-header">E-Mail Address</div>
          <input type="email" name="replyto" placeholder="Your email"><br/>
          <div class="form-field-footer">Please provide your e-mail address so <b>The Compass Rose Band</b> can respond to your request.  We will <i>NOT</i> send you any SPAM nor will we share your e-mail address with anyone!</div>
        </div>
        <input type="hidden" name="subject" value="Website contact" />
        <div class="form-field">
          <div class="form-field-header">Comment, Question or Request</div>
          <textarea name="message" placeholder="Your message"></textarea>
          <div class="form-field-footer">Please provide your comment, question, or request for a booking along with details (date, time, location) of your event and venue.</div>
        </div>
        <input type="text" name="gotcha" style="display:none" />
        <input class="form-submit" type="submit" value="Send">
      </form>
    </div>
    <div class="card-footer"></div>
  </div>

  <script>
    var contactform =  document.getElementById('contactform');
    contactform.setAttribute('action', '//formspree.io/' + 'DRassler@netins.net');
  </script>

  {{ template "_internal/pagination.html" . }}
</div>

{{ end }}
