{{ define "main" }}

<div class="container mt-3 mb-3">

  <div class="card">
    <div class="card-body">
      <h1 class="card-title">
        Past Performances
      </h1>

      <ul class="upcoming-performances">
        {{ range (where .Site.RegularPages.ByDate.Reverse "Type" "performance") }}
        {{ if lt .Date.Unix now.Unix }}
          <div class="keep-together">
            <li class="performance">
              <span class="performance-line-1">
                <a href="{{ .Permalink }}">
                  {{ if eq .Date.Year now.Year }}
                    {{ .Title }} <span class="nowrap">- {{ .Date.Format "Monday, Jan 2" }}</span></a>
                  {{ else }}
                    {{ .Title }} <span class="nowrap">- {{ .Date.Format "Monday, Jan 2, 2006" }}</span></a>
                  {{ end }}
              </span>
              <br/>
              <span class="performance-line-2">
                &nbsp;&nbsp; <span class="nowrap">{{ .Params.startTime }} to {{ .Params.endTime }}</span> <span class="nowrap">&bullet; {{ .Params.location }}</span> <span class="nowrap">&bullet; {{ .Params.city }}</span>
              </span>
            </li>
          </div>
          {{ end }}
        {{ end }}
      </ul>
  </div>

  <div class="card-footer"></div>

</div>



  {{ template "_internal/pagination.html" . }}

{{ end }}
